<script>
  import { onMount, onDestroy } from "svelte";
  import GridBackground from "../components/GridBackground.svelte";
  import DataDisplay from "../components/DataDisplay.svelte";
  import PageFlash from "../components/PageFlash.svelte";

  // Music Player
  let isPlaying = false;
  let audio;
  onMount(() => {
    audio = new Audio("/audio/timecrawler.mp3");
    audio.loop = true;
  });

  function togglePlay() {
    isPlaying ? audio.pause() : audio.play();
    isPlaying = !isPlaying;
  }

  let currentData = null; // Used to store the current data
  let showFlash = false; // Used to trigger the flash animation

  async function fetchData() {
    try {
      const response = await fetch("https://api.predb.net/");
      const data = await response.json();
      if (currentData === null || data.data[0].id !== currentData.id) {
        // Activate flash
        showFlash = true;
        setTimeout(() => {
          showFlash = false;
        }, 500);

        // Update data
        currentData = data.data[0];
      }
    } catch (error) {
      console.error("Error fetching data:", error);
    }
  }

  // Repeat the fetch every 10 seconds
  const interval = setInterval(fetchData, 10000);

  onDestroy(() => {
    clearInterval(interval);
  });
</script>

<div class="relative h-screen">
  <!-- Grid background -->
  <GridBackground />

  <!-- Flash animation -->
  {#if showFlash}
    <PageFlash />
  {/if}
  <div
    class="absolute inset-0 flex items-center justify-center text-white text-2xl"
  >
    <!-- Information dispaly -->
    <DataDisplay data={currentData} />
  </div>
  <!-- Credits -->
  <div
    class="text-sm absolute right-0 bottom-0 text-2xl flex flex-col text-right"
  >
    <a href="https://predb.net/" class="text-white/25 hover:text-white"
      >PreDB - Scene Release Info</a
    >
    <a
      href="https://unsplash.com/photos/uhjiu8FjnsQ"
      class="text-white/25 hover:text-white">Sea Of Stars by Jeremy Perkins</a
    >
    <a
      class="text-white/25 hover:text-white"
      href="https://freemusicarchive.org/music/Timecrawler_82/Osaka_Lights/Street_Dancing"
      >Street Dancing by Timecrawler 82</a
    >
  </div>

  <!-- Toggle music -->
  <button
    class="absolute top-0 left-1/2 transform -translate-x-1/2 mt-4 outline outline-2 outline-white/25 text-white/25 hover:outline-white hover:text-white font-bold py-2 px-4 rounded"
    on:click={togglePlay}
  >
    {#if isPlaying}
      Stop Music
    {:else}
      Start Music
    {/if}
  </button>
</div>
