<!-- This code is nasty, I apologize  -->

<script>
  import oleoo from "oleoo";
  import { unixToHumanReadable } from "../utils/timeFix";
  import Pills from "./Pills.svelte";

  export let data = {};

  let zoomClass = "";
  let displayData = [];
  let NFOImage = "";
  let release = {};
  let icon = "/images/huh.svg";
  let color = "gray-500";

  $: {
    // Used for zoom animation
    if (data) {
      // Reset NFO image
      NFOImage = "/images/waiting.png";

      // Fetch NFO image
      (async function fetchNFOImage() {
        try {
          const response = await fetch(
            `https://api.predb.net/?type=nfo&q=${data.release}`
          );
          const otherdata = await response.json();
          if (otherdata.status != "error") {
            NFOImage = otherdata.data.nfo_img;
          } else {
            // Repeat every 6 seconds
            await new Promise((r) => setTimeout(r, 6000));
            fetchNFOImage();
          }
        } catch (error) {
          console.error("Fetch failed: ", error);
          await new Promise((r) => setTimeout(r, 6000));
          fetchNFOImage();
        }
      })();

      //  Set color and icon
      switch (data?.section) {
        case "X264":
        case "X265":
          color = "cyan-700";
          icon = "high_quality.svg";
          break;
        case "TV-X265":
        case "TV-X264":
        case "TV-HD-H264":
        case "TV-XVID":
          color = "yellow-500";
          icon = "tv.svg";
          break;
        case "MP3":
        case "FLAC":
          color = "green-500";
          icon = "music.svg";
          break;
        case "ANIME":
          color = "purple-600";
          icon = "anime.svg";
          break;
        case "GAMES":
        case "NSW":
        case "PS4":
        case "PS5":
        case "XBOXONE":
        case "XBOX360":
        case "WII":
        case "WIIU":
          color = "blue-600";
          icon = "game.svg";
          break;
        case "XXX":
          color = "rose-600";
          icon = "porn.png";
          break;
        case "0DAY":
          color = "orange-600";
          icon = "0day.svg";
          break;
        case "APPS":
          color = "amber-700";
          icon = "0day.svg";
          break;
        case "EBOOK":
          color = "lime-600";
          icon = "ebook.svg";
          break;
        case "ABOOK":
          color = "fuchsia-500";
          icon = "book.svg";
          break;
        case "PRE":
          color = "stone-700";
          icon = "pre.svg";
          break;
        default:
          color = "gray-500";
          icon = "huh.svg";
          break;
      }

      zoomClass = "animate-zoomIn";
      setTimeout(() => {
        zoomClass = "";
      }, 300);

      // Used for side text
      displayData = [
        { key: "Predate", value: unixToHumanReadable(data.pretime) },
        { key: "Group", value: data.group },
        { key: "Section", value: data.section },
        { key: "Genre", value: data.genre },
        { key: "Files", value: data.files },
        { key: "Size", value: data.size },
      ];

      // Used for pills data
      let parsedData = oleoo.parse(data.release);
      const keysToKeep = [
        "title",
        "year",
        "season",
        "episode",
        "resolution",
        "dub",
        "episode",
        "language",
        "source",
        "encoding",
      ];

      for (let key of keysToKeep) {
        if (parsedData.hasOwnProperty(key)) {
          const formattedKey = key.charAt(0).toUpperCase() + key.slice(1);
          release[formattedKey] = parsedData[key];
        }
      }
    }
  }
</script>

<div class="relative inline-block {zoomClass} w-full md:w-auto drop-shadow-2xl">
  <div
    class={`outline-${color} bg-black bg-opacity-50 p-4 md:p-8 lg:p-12 rounded-lg text-white inline-block font-semibold text-base md:text-xl lg:text-2xl outline outline-4`}
  >
    {#if data}
      <!-- Release Title -->
      <h1
        class="mt-6 mb-4 text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-center"
      >
        {data.release}
      </h1>

      <!-- Side text and Pills -->
      <div class="flex flex-col md:flex-row justify-between items-start">
        <!-- Side text -->
        <div class="flex flex-col text-xs md:text-sm lg:text-base">
          <p>
            {#each displayData as item, index (item.key)}
              {#if item.value != null && item.value != 0}
                {#if index > 0}
                  <br />
                {/if}
                <strong class={`text-${color}`} id={item.key.toLowerCase()}
                  >{item.key}:</strong
                >
                <strong class="text-pink-500">{item.value}</strong>
              {/if}
            {/each}

            <!-- Blinking Cursor -->
            <span class="blink text-pink-500">_</span>
          </p>
        </div>

        <!-- Mmm pills -->
        <Pills {release} {color} />
      </div>

      <!-- NFO file -->
      <div
        class="w-full h-auto max-h-96 overflow-auto flex-grow mt-4 rounded-lg"
      >
        <img
          src={NFOImage}
          alt="NFO file"
          class="w-full h-auto object-contain rounded-lg"
        />
      </div>

      <!-- Why no data? -->
    {:else}
      <div>Loading...</div>
    {/if}
  </div>

  {#if data}
    <div
      class={`outline-${color} absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16 rounded-full bg-slate-950 flex items-center justify-center text-black outline outline-4`}
    >
      <img src={`icons/${icon}`} alt="Section Icon" />
    </div>
  {/if}
</div>

<style>
  .animate-zoomIn {
    animation: zoomIn 0.3s;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .blink {
    animation: blink 0.6s linear infinite;
  }
</style>
