<script>
  import { onMount } from "svelte";
  import * as THREE from "three";

  let container;

  onMount(async () => {
    // Scene Stuff
    const scene = new THREE.Scene();
    scene.fog = new THREE.Fog(0x000000, 1, 10);

    // Camera Stuff
    const camera = new THREE.PerspectiveCamera(
      75,
      window.innerWidth / window.innerHeight,
      0.1,
      20
    );
    camera.position.y = 0.3;
    camera.position.z = 1;
    camera.rotation.x = 0;

    // Renderer Stuff
    const renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
    renderer.setClearColor(0x000000, 0); // Make the background transparent
    renderer.setSize(window.innerWidth, window.innerHeight);
    container.appendChild(renderer.domElement);

    const gridHelper = new THREE.GridHelper(100, 100, 0x4f4789, 0x4f4789);
    scene.add(gridHelper);

    // Create a plane that spans the grid and apply a material with transparency
    const planeGeometry = new THREE.PlaneGeometry(100, 100, 100, 100);
    const planeMaterial = new THREE.MeshBasicMaterial({
      color: 0x4f4789,
      transparent: true,
      opacity: 0.2,
      side: THREE.DoubleSide,
    });
    const plane = new THREE.Mesh(planeGeometry, planeMaterial);
    plane.rotation.x = Math.PI / 2;
    scene.add(plane);

    const animate = function () {
      requestAnimationFrame(animate);
      gridHelper.position.z -= 0.01;
      plane.position.z -= 0.01;
      if (gridHelper.position.z < -5) {
        gridHelper.position.z = 0;
        plane.position.z = 0;
      }
      renderer.render(scene, camera);
    };

    animate();

    window.addEventListener(
      "resize",
      function () {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
      },
      false
    );
  });
</script>

<div bind:this={container} />
