<script>
  import { fade } from "svelte/transition";
  import { onMount } from "svelte";

  let show = false;

  onMount(() => {
    show = true;
    setTimeout(() => {
      show = false;
    }, 50);
  });
</script>

{#if show}
  <div
    in:fade={{ duration: 0 }}
    out:fade={{ duration: 200 }}
    class="fixed top-0 left-0 w-full h-full bg-slate-900/90 z-50"
  />
{/if}
