<script>
  export let release;
  export let color;
</script>

{#if release}
  <div class="flex flex-wrap ml-6">
    {#each Object.entries(release) as [key, value]}
      {#if value != null && value != "" && value != []}
        <div class="m-1 overflow-hidden rounded-full flex">
          <span
            class={`pill bg-${color} text-white px-2 py-1 rounded-l-full text-sm`}
            >{key}</span
          >
          <span
            class={`pill bg-pink-500 text-white px-2 py-1 rounded-r-full text-sm`}
            >{value}</span
          >
        </div>
      {/if}
    {/each}
  </div>
{/if}
